body{
	background: url("files/triangle.png");
}

.section-inner{
	border-radius: 10px;
}/**/

.github,{
	max-height: 200px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

h1, h2 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 50px;
    line-height: 70px;
}
 
p {
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 15px;
    line-height: 25px;
}

.starter-template {
	width: 400px;
	/*padding: 40px 15px;*/
	text-align: center;
	/*background: black;*/
	border: 2px solid white;
	border-radius: 20px;
}
a{
	color: black;
}
.breadcrumb{
	background-color: inherit;
}
.divider{
	color: white;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.padded-top{
	padding-top: .5em;
}
.padded-right {
    padding-right: 0.5em;
}