body {
	padding-top: 50px;
	background: url(/files/triangular_@2X.png) repeat 0 0;
}
.pattern{
	background: url(/files/triangular_@2X.png) repeat 0 0;
}
.starter-template{
	text-align: center;
}
h1, h2 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    color: white;
    font-size: 50px;
    line-height: 70px;
}
 
p {
    font-family: 'Goudy Bookletter 1911', Georgia, Times, serif;
    font-size: 15px;
    line-height: 25px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
a{
	color: black;
}
.breadcrumb{
	background-color: inherit;
}
.divider{
	color: white;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.padded-top{
	padding-top: .5em;
}
.padded-right {
    padding-right: 0.5em;
}